<h1>Mentors</h1>

<%# <%= search_form_for @search, url: search_mentors_path, method: :post do |f| %>

<%# <% end %>

<%@mentors.each do |mentor| %>
    <p><%= mentor.user.full_name  %></p>
    <% mentor.skills.each do |skill| %>
    <ul>
        <li><%= skill.skills %></li>
    </ul>
    <% end %>
    <%= link_to 'more' , mentor_path(mentor.id) %>



<% end %>