/* Coolors Exported Palette - coolors.co/ebe9e9-f7f2f2-b73535-fc7e7e-e2d7d7 */

/* HSL */
$color1: hsla(0%, 5%, 92%, 1);
$color2: hsla(0%, 24%, 96%, 1);
$color3: hsla(0%, 55%, 46%, 1);
$color4: hsla(0%, 95%, 74%, 1);
$color5: hsla(0%, 16%, 86%, 1);

/* RGB */
$color1: rgba(235, 233, 233, 1);
$color2: rgba(247, 242, 242, 1);
$color3: rgba(183, 53, 53, 1);
$color4: rgba(252, 126, 126, 1);
$color5: rgba(226, 215, 215, 1);