/* Coolors Exported Palette - coolors.co/98243a-b8c480-040403-231123-c6d8ff */

/* HSL */
$color1: hsla(349%, 62%, 37%, 1);
$color2: hsla(71%, 37%, 64%, 1);
$color3: hsla(60%, 14%, 1%, 1);
$color4: hsla(300%, 35%, 10%, 1);
$color5: hsla(221%, 100%, 89%, 1);

/* RGB */
$color1: rgba(152, 36, 58, 1);
$color2: rgba(184, 196, 128, 1);
$color3: rgba(4, 4, 3, 1);
$color4: rgba(35, 17, 35, 1);
$color5: rgba(198, 216, 255, 1);